@page "/demoHotel"
@using HiddenVilla_Server.Model
@using System.Linq
@using Model

<PageTitle>Demo Hotel</PageTitle>
<div class="row bg-body p-1">
    <h6 class="bg-white text-info mt-2"><label>Number od selected rooms :&nbsp;</label><span class="text-danger">@SelectedRooms</span></h6>
    @foreach (var room in Rooms)
    {
        <RoomComponent OnRoomCheckBoxSelection="RoomSelectionCounterChange" Room="room"></RoomComponent>

    }
    <h3 class="text-info">Hotel Amenities</h3>
    <div class="flex-row justify-content-center">
        @foreach (var amenity in amenities)
        {
            <div class="d-inline-block"><AmenitiesComponent SelectedAmenityClickCallBack="SelectedAmenityChange" Amenitiy="amenity"></AmenitiesComponent></div>
        }
    </div>
        <h6 class="bg-white text-info mt-2"><label>SelectedAmenity :&nbsp;</label><span class="text-danger">@SelectedAmenity</span></h6>

</div>

@code
{
    public string SelectedAmenity { get; set; } = "jhj";
    public int SelectedRooms { get; set; } = 0;
    List<Amenitiy> amenities = new();
    List<BlazorRoom> Rooms = new();
    public void SelectedAmenityChange(string name)
    {
        SelectedAmenity = name;
    }
    public void RoomSelectionCounterChange(bool status)
    {
        if (status)
            SelectedRooms++;
        else
        SelectedRooms--;
    }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        amenities.Add(new Amenitiy{Id = 101,Name = "Gym",Value = "24*7"});
        amenities.Add(new Amenitiy{Id = 102,Name = "BreakFast",Value = "6-10AM"});
        amenities.Add(new Amenitiy{Id = 102,Name = "Wifi",Value = "FREE"});
        Rooms.Add(new BlazorRoom
            {
                Id = 201,
                IsActive = true,
                Price = 200,
                Name = "2BedRoom",
                Properties = new List<BlazorRoomProps>
            {
                new BlazorRoomProps{Id = 1,Name = "SquareFeet",Value = "100"},
                new BlazorRoomProps{Id = 1,Name = "NumberOfBeds",Value = "2Double"}
            }

            });
        Rooms.Add(new BlazorRoom
            {
                Id = 301,
                IsActive = false,
                Price = 300,
                Name = "3BedRoom",
                Properties = new List<BlazorRoomProps>
            {
                new BlazorRoomProps{Id = 1,Name = "SquareFeet",Value = "150"},
                new BlazorRoomProps{Id = 1,Name = "NumberOfBeds",Value = "3Double"}
            }

            });
    }
}
