@page "/learnrouting"
@page "/newlearnrouting"
@page "/learnrouting/{firstName}/{lastName}"
<PageTitle>Learn Routing</PageTitle>
<div class="alert alert-link">
    <label>FirstName:</label>@FirstName
    <br />
    <label>LastName:</label>@LastName
</div>

<a class="btn btn-primary" href="/advancedrouting?firstname=ashkan&lastName=semsar">Advanced Routing</a>
@code {
[Parameter]
public string FirstName { get; set; }
[Parameter]
public string LastName { get; set; }

}
