@page "/learnrouting"
@page "/newlearnrouting"
@page "/learnrouting/{firstName}/{lastName}"

<PageTitle>Learn Routing</PageTitle>
<div class="alert alert-link">
    <label>FirstName:</label>@FirstName
    <br />
    <label>LastName:</label>@LastName
</div>


@code {
[Parameter]
public string FirstName { get; set; }
[Parameter]
public string LastName { get; set; }

}
