@page "/RenderFragment"

<RenderFragmentComponent EventCallback="SetCallBackMessage" Message="This is a message from Parent">

</RenderFragmentComponent>
<RenderFragmentComponent EventCallback="SetCallBackMessage" Message="This is a message from Parent">
    <ChildContent><table class="table table-hover">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
            </tr>
        </tbody>
    </table></ChildContent>
    <ChildContent2>
        Child content2 from parent
    </ChildContent2>
</RenderFragmentComponent>

<div><span>@CallBackMessage</span></div>
@code
{
    public string CallBackMessage { get; set; }
    public void SetCallBackMessage()
    {
        CallBackMessage += "Message Set";
    }

}
