@using HiddenVilla_Server.Model
<span @onclick="args=>SelectedAmenityClick(args,Amenitiy.Name)" class="badge bg-primary"><label>@Amenitiy.Name:&nbsp;</label>@Amenitiy.Value
@ChildContent &nbsp;@ChildContent2

</span>

@code {
    [Parameter]
    public Amenitiy Amenitiy { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent2 { get; set; }
    [Parameter]
    public EventCallback<string> SelectedAmenityClickCallBack { get; set; }
    public async Task SelectedAmenityClick(MouseEventArgs e,string name)
    {
        await SelectedAmenityClickCallBack.InvokeAsync(name);
    }

}
