<h1>Life Cycle Component</h1>
<h3>@string.Join("-",Message)</h3>

<div></div>
@code {
    [Parameter]
    public int TestParam { get; set; }
    public List<string> Message = new List<string>();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Message.Add("Hi I am child OnInitialized");
    }

    protected override void OnParametersSet()
    {
        Message.Add("Hi I am child OnParameterSet");
    }


}