<div class="alert alert-success alert-dismissible">@Message</div>
<div class="alert alert-primary alert-dismissible">

    @if (ChildContent != null)
    {
        <span>@ChildContent</span>
    }
    else
    {
        <span>Nothing from parent</span>  
    }
   

</div>
<div class="alert alert-danger">
    @if (ChildContent2 != null)
    {
        <span>@ChildContent2</span>
    }
    else
    {
        <span>There is ni childC ontent2 item</span>
    }
</div>
<button  @onclick="EventCallback" type="button">Event Call Back Button</button>

@code
{
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
        [Parameter]
    public RenderFragment ChildContent2 { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> EventCallback { get; set; }
}
